* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* header begin */

.hero {
	height: 100vh;
	width: 100%;
	background-image: url('Assets/img/bg.jpg');
	background-size: cover;
	background-position: center;
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-content {
	padding: 2em;
	background-color: rgba(19, 17, 17, 0.795);
}

/* header end */

/* main begin */

.why-italy {
	padding-top: 0em;
	background-image: url(Assets/img/bg.png);
	padding: 2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
	width: 100vw;
	background-size: cover;
}

.why-italy h2 {
	width: 100%;
	color: white;
	text-align: center;
	font-size: 2.5em;
	margin: 1em 0;
	padding: 1em;
	background-color: rgba(37, 32, 32, 0.603);
}

.why-italy article {
	font-family: poppins, sans-serif;
	text-align: center;
	flex: 1 1 45%;
	max-width: 600px;
	background-color: rgba(255, 255, 255, 0.555);
	border-radius: 15px;
	padding: 1em;
	margin: 1em;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.why-italy article h3 {
	font-size: 1.5em;
	margin-bottom: 0.5em;
	color: #333;
}

.why-italy-bis {
	background-color: rgba(216, 225, 229, 0.676);
	font-family: Poppins, sans-serif;
	font-size: 2em;
	text-align: center;
	padding: 2em;
}

.why-italy-bis p {
	font-style: italic;
}

.examples-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 3em;
}

.examples-img figure {
	flex: 1 1 45%;
	text-align: center;
	max-width: 45vw;
}

.examples-img figcaption {
	font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.5em;
	color: #333;
}

.examples-img img {
	width: 100%;
}

/* main end */

/* footer begin */
footer {
	background-color: rgba(81, 77, 77, 0.603);
	color: white;
	text-align: center;
	width: 100%;
}

footer img {
	width: 50px;
	height: auto;
}

/* footer end */
